rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /instance/{instanceId} {
      allow read, update: if true;
      allow list: if false;
      
      match /{document} {
        allow delete: if false;
        allow read, write: if true;
        
        match /{document=**} {
      	allow read, write: if true;
    		}
      }
    }
  }
}